.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.main {
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem 0;
}

.todoContainer {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  position: sticky;
  top: 3.5rem;
  z-index: 1;
  padding: 0.5rem 0;
}

.input {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  flex-grow: 1;
  /* caret-color: var(--green500); */
}

.addButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 4px;
}

.deleteButton {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
